<html>
    <head>
        {% load static %}
        <title>Inventario</title>
        <link rel="stylesheet" type="text/css" href="css/inventario.css">
    </head>
    <body>
        <div class="container">
            <h1>Inventario</h1>
            
            <div class="inventario">
                <div class="inventario__item">
                    <div class="inventario
                    __item__imagen">
                    <img src="{% static 'imagenes/img1.jpg' %}" alt="Imagen 1">
                </div>
                <div class="inventario
                __item__descripcion">
                    <h2>Producto 1</h2>
                    <p>Descripción del producto 1</p>
                </div>
            </div>
           
                
            </div>

</html>